<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安全稽查数字化模块建设</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<br><br>
    <form action="/form" method="post" >
        <button type="submit" class="btn btn-primary btn-lg" style="display:block;margin:0 auto">填写表单</button>
<!--        <input type="submit" value="填写表单">-->
    </form>
<br><br>
    <form action="/export" method="post" >
        <button type="submit" class="btn btn-primary btn-lg" style="display:block;margin:0 auto">导出表单</button>
<!--        <input type="submit" value="导出表单">-->
    </form>
</body>
</html>