<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安全稽查数字化模块建设</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div style="margin-left: 400px;margin-top: 50px">
    <h1>七必查表单填写</h1>
    <form id="myForm" action="/insert" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>序号</label>
            <input type="text" class="form-control" name="rnumber" id="rnumber" style="width: 500px">
        </div>
        <div class="form-group">
            <label>检查项目</label>
            <select class="form-control" id="ritem" name="ritem" style="width: 500px" onChange="change1()">
                <option value="现场关键人员配置是否到位">现场关键人员配置是否到位</option>
                <option value="现场“一措施一方案一张票”是否存在错误">现场“一措施一方案一张票”是否存在错误</option>
                <option value="现场施工装备是否存在安全隐患">现场施工装备是否存在安全隐患</option>
                <option value="现场安全风险管控是否到位">现场安全风险管控是否到位</option>
                <option value="现场过程质量管控是否到位">现场过程质量管控是否到位</option>
                <option value="现场是否存在重大事故隐患">现场是否存在重大事故隐患</option>
                <option value="是否落实人员实名制要求">是否落实人员实名制要求</option>
                <option value="其他">其他</option>
            </select>
        </div>
        <div class="form-group">
            <label>严重程度</label>
            <select class="form-control" name="rseverity"  id="rseverity" style="width:500px;" onChange="change2()">
                <option>严重不到位</option>
                <option>不到位</option>
            </select>
            <!--            <input type="text" class="form-control" name="rseverity" style="width: 500px" value="严重不到位">-->
        </div>
        <div class="form-group">
            <label>具体问题展现</label>
            <select class="form-control" name="rspecific"  id="rspecific" style="width:500px;">
                <option>1.三个项目部管理人员长期（15天以上）不到岗履职且未及时进行变更。</option>
                <option>2.三级及以上施工安全风险各级管理人员到岗到位严重缺失（2//3未到岗履职）。</option>
                <option>3.作业现场无作业层班组骨干，劳务分包人员自行作业。</option>
                <option>4.作业层班组骨干配置人员数量严重不满足现场施工实际需要。（无法保证负责人、安全监护人同时在场）</option>
                <option>5.作业层班组骨干（全部）能力普遍不足，无法有效管控现场安全质量。</option>
            </select>
            <!--            <input type="text" class="form-control" name="rspecific" style="width: 500px" value="1.三个项目部管理人员长期（15天以上）不到岗履职且未及时进行变更。">-->
        </div>
        <div class="form-group">
            <label>检查问题</label>
            <input type="text" class="form-control" name="rproblem" style="width: 500px" value="管理人员长期不到岗">
        </div>
        <div class="form-group">
            <label>上传图片</label>
            <input type="file" class="form-control" name="file" style="width: 500px">
            <p class="help-block">请上传与问题描述相关的图片</p>
        </div>
        <button type="submit" class="btn btn-primary btn-lg" style="margin-left: 50px">提交</button>
        <br><br>
    </form>
</div>
<script>
    var num=["1","2","3","4","5","6","7","8"];
    var ritem=["现场关键人员配置是否到位","现场“一措施一方案一张票”是否存在错误","现场施工装备是否存在安全隐患",
        "现场安全风险管控是否到位","现场过程质量管控是否到位","现场是否存在重大事故隐患","是否落实人员实名制要求","其他"];
    var rseverity=[
        ["严重不到位","不到位"],["严重错误","一般错误"],["重大安全隐患","一般安全隐患"],["严重不到位","不到位"],
        ["严重不到位","不到位"],["重大事故隐患","一般事故隐患"],["未落实","落实不到位"],["其他"]
    ];
    var rspecific=[
        [
            ["1.三个项目部管理人员长期（15天以上）不到岗履职且未及时进行变更。",
                "2.三级及以上施工安全风险各级管理人员到岗到位严重缺失（2//3未到岗履职）。",
                "3.作业现场无作业层班组骨干，劳务分包人员自行作业。",
                "4.作业层班组骨干配置人员数量严重不满足现场施工实际需要。（无法保证负责人、安全监护人同时在场）",
                "5.作业层班组骨干（全部）能力普遍不足，无法有效管控现场安全质量。"],

            ["1.三个项目部主要管理人员3人及以上存在兼职现象。",
            "2.三级及以上施工安全风险各级管理人员到岗到位缺失。（1/3未到岗履职）",
            "3.作业层班组骨干配置人员数量不满足现场施工实际需要。（无法保证负责人、安全监护人、技术（质检）员同时在场）",
            "4.作业层班组骨干（1-2人）能力普遍不足，无法有效管控现场安全质量。"]
        ],
        [
            ["1.施工现场无施工方案，或施工方案未进行审批流程。",
            "2.施工方案与工程实际情况不符。",
            "3.线路分解组塔作业缺少分片方式及相应计算书。",
            "4.吊装作业缺少针对选定起重设备的计算书。",
            "5.方案受力地锚无计算书。",
            "6.高大模板、深基坑、隧道、爆破工程、脚手架按拆、滑模施工、索道施工、跨越铁路、二级以上公路无专项施工方案或无计算书，超一定规模危险性较大的分部分项工程施工方案未经过专家论证。",
            "7.施工现场实际主要施工方式与施工方案不一致。",
            "8.施工项目部未按要求将施工方案对全体骨干、核心劳务人员进行全员交底，交底内容流于形式，没有针对性。",
            "9.现场未使用作业票，或作业票内容与现场实际施工内容不符。",
            "10.施工作业班组未按要求开展“每日站班会”。",
            "11.施工现场重大风险未反映在施工作业票主要风险中。"],

            ["1.施工方案缺少现场实际勘察内容。",
            "2.施工作业票填写存在错误，现场变化情况未反映在施工作业票中。",
            "3.施工作业班组“每日站班会”对当日工作任务、风险、安全措施交底不详细。",
            "4.施工作业票签字存在代签、漏签。",
            "5.施工现场实际施工人员与施工作业票不对应。"]
        ],
        [
            ["1.施工装备与方案不符或未经报审。",
            "2.施工机具以小带大。",
            "3.施工机具严重受损仍使用。",
            "4.施工机具超过受力允许范围使用。",
            "5.施工机具无定期试验维护保养，无相关记录。",
            "6.部分变电站（换流站）施工用脚手架搭设使用的钢管与扣件不满足规程规范要求：由于这些材料是在当地租赁的，较多的是有缝钢管、变形钢管、废旧钢管，很多是滑扣的扣件螺丝等出现在现场。由于材料的载荷发生了变化，与施工方案要求不符，加之现场检查不严格，容易导致垮塌事故和人员伤害事故发生。",
            "7.如同第一点所述，加之多数线路工程使用的杉木杆或竹竿等材料，不满足施工方案要求，尤其是杆件接长所搭接的长度，在不满要求的条件下，变成了受力的薄弱点，容易在收到外力（断线或跑线对架体的冲击力、超过允许的风力）作用下，通过扭曲变形，导致架体垮塌事故。",
            "8.施工用电方面存在配电箱不符合规程规范要求。箱内缺少明显断开点、开关箱内安装排插插座、开关动作延时。",
            "9.多数施工现场未设置危险品仓库或设置不规范，危险品多数临时存储在工具库内，容易导致火灾爆炸事故的发生。",
            "10.大型机械无质量证明文件，无进履行进场报审手续，租赁机械舞安全协议。无特种作业人员报审（起重指挥、起重操作等）。"],

            ["1.施工机具检验有效表示缺失。",
            "2.施工机具台账混乱或无台账。",
            "3.受力工器具现场缺少检查或检查不细致，较多的手扳葫芦挂钩的安全防脱专职缺失，以小代大情况比较突出。",
            "4.部分分包的登高作业人员使用的安全带缺少“三证一标”，且个别人员故意将腿带取下使用、或个别安全带已经达到了报废级还在使用。",
            "5.现场多数起重或受力钢丝绳老旧、生锈严重，且部分绳套的编制长度不满足技术规范要求。"]
        ],
        [
            ["1.风险作业情况与“一本帐”不符。",
            "2.固有风险清册未经过三个项目部会审，与工程实际不一致。",
            "3.三级及以上风险未在省公司进行备案并进行监督管控。",
            "4.超过一定规模的危险性较大的分部分项工程的专项施工方案未组织专家评审。",
            "5.现场风险作业开展前未组织相关人员进行现场踏勘。",
            "6.现场风险管控措施与方案不符。",
            "7.三级及以上风险作业现场三个项目部管理人员未履行到岗到位要求。",
            "8.重大风险项目由分包单位人员自行开展作业。"],

            ["1.现场风险控制措施与实际不符。",
            "2.安全风险复工后未复勘。",
            "3.现场安全员兼职其他工作。",
            "4.风险作业开展前未进行全员交底。",
            "5.施工作业人员对风险源及预控措施不熟悉。"]
        ],
        [
            ["（管理类）1.未见业主、监理、勘察、设计、施工项目经理所在单位法人授权书及工程质量终身责任承诺书。",
            "（管理类）2.现场施工质量存在达标投产否决项。",
            "（管理类）3.各级质量验收未认真开展，验收资料弄虚作假，未组织开展中间质量抽查监督即转序。",
            "（管理类）4.缺少开箱验收记录，无大型设备运输冲撞记录。",
            "（管理类）5.现场未结合施工工序配备实测实量仪器。",
            "（管理类）6.工程资料与实体进度相差在15天以上，工程资料存在10条以上问题。",
            "（变电专业）1.主要建筑物、道路、设备基础等存在影响结构安全的裂缝。",
            "（变电专业）2.建筑物、设备基础沉降观测点设置不合理。",
            "（变电专业）3.变压器、GIS、电抗器等充油（气）设备存在渗漏油（气）情况。",
            "（变电专业）4.重要设备及其构支架未有两根与主地网不同地点连接的接地引下线。",
            "（变电专业）5.220千伏及以上GIS（断路器）安装，未搭设防尘棚，未对温度、湿度、洁净度进行实时监测；施工人员未穿戴专用防尘服（白色连帽连体工装）。",
            "（变电专业）6.主要原材料合格证、厂家检测报告不齐全；与结构强度有关的复检报告不齐全。",
            "（变电专业）7.交接试验报告数据错误、缺数据、无结论、未注明试验方法。",
            "（线路专业）1.基础尺寸、标高、跟开偏差不符合设计规范要求。",
            "（线路专业）2.耐张塔向受力侧倾斜，杆塔结构倾斜值超标。",
            "（线路专业）3.铁塔主要受力部件缺失，气割或扩孔、烧孔以及部件强行安装。",
            "（线路专业）4.导地线压接不符合质量要求。",
            "（线路专业）5.未对电缆头安装作业现场温湿度、洁净度进行实时监测。5.主要原材料出厂证明、复试报告等缺失，未见原材料跟踪管理记录。",
            "（线路专业）6.钢筋连接、试块检测、桩基检测、导地线压接试验报告不规范。",
            "（线路专业）7.地脚螺栓缺失、紧固不到位、未采取相应防卸措施（打毛处理，8.8级高强度地脚螺栓不应采用螺纹打毛的防卸措施），规格和出厂标识不齐全，领用记录不符合“一基一领”要求。"],

            ["（管理类）1.建设中未在现场设置临时质量责任标牌，投产前未在建筑物明显部位设置永久性质量责任标牌。",
            "（管理类）2.现场施工质量存在质量通病。",
            "（管理类）3.标准工艺在现场的执行不到位。",
            "（管理类）4.未按要求定期规范开展质量检查。",
            "（管理类）5.开箱验收记录人员签字不全。",
            "（管理类）6.未及时传达质量管理要求，质量教育培训、考试不到位。",
            "（管理类）7.工程资料与实体进度相差在10天以上，工程资料存在10条以下问题。",
            "（变电专业）1.基础预埋件标高不符合规范要求，埋件空鼓。",
            "（变电专业）2.地下混凝土拉结螺杆未及时剔除及防腐处理。",
            "（变电专业）3.砌筑工程通缝、使用碎砖。",
            "（变电专业）4.建筑装饰抹灰平整度超规范。",
            "（变电专业）5.同组开关插座位置不一致。",
            "（变电专业）6.回填土取样试验不规范。",
            "（变电专业）7.电气设备接地不规范。",
            "（变电专业）8.未设置标准工艺展板或展板内容与实际进度不符。",
            "（变电专业）9.试验人员资质管理不规范。",
            "（线路专业）1.组塔前地脚螺栓保护不到位。",
            "（线路专业）2.螺栓、一般塔材缺件未及时补装。",
            "（线路专业）3.导线展放时未采取防止导线磨损的措施。",
            "（线路专业）4.接地引下线焊接及防腐不符合要求，埋深不足。",
            "（线路专业）5.未对电缆头安装作业现场温湿度、洁净度进行实时监测。",
            "（线路专业）6.原材跟踪管理记录可追溯性不强（日期、领用数量、累计库存错误）。"]
        ],
        [
            ["1.部分线路跨越架施工不满足施工方案要求，架体的间距与步距都大于施工方案，且多数缺少剪刀撑或剪刀撑搭设不对称，更有甚者，方案规定是三排架体，现场确是两排；容易导致垮塌情况。",
            "2.多数现场的施工和监理单位都不配备专用的力矩版手，在满堂红支撑脚手架搭设过程中，由于大多使用电动扳手紧固扣件螺丝，而扣件的螺丝力矩值通常不满足规程规范的要求。容易导致垮塌情况。",
            "3.线路工程使用的杉木杆或竹竿搭设的跨越架，架体通常是不做接地的，在雷电或雷暴的环境下，雷电将对封网用的迪尼玛绳编织扣上产生间隙放电，融化受力的迪尼玛绳后，而导致封网散落在运行的线路上，不仅造成停电事故，可导致跨步电压的产生，致使作业环境内的人员触电伤害。",
            "4.人员高处作业或移动时失去保护。",
            "5.使用未经检验或不合格的安全防护用品、安全工器具。",
            "6.现场使用状态中的主要安受力工器具（抱杆、拉线、锚桩等）及机械（绞磨、牵张机、吊车、吊篮等）存在重大安全隐患。",
            "7.起重机械无制动、逆止装置或过载使用。或使用挖掘机等非标准设备进行起重作业。",
            "8.脚手架、跨越架、索道架设未执行经批准的施工方案，存在较大安全隐患或未经安全检查签证即投入使用。",
            "9.未挂接地线即登上设备施工，或作业人员在接地线保护范围外工作。",
            "10.放线区段有跨越、平行带电线路，紧线、开断前绝缘子串未按要求采取短接措施。",
            "11.邻近带电体作业时，作业人员、施工机械的活动范围与带电设备的安全距离不满足电建安规、施工方案要求。",
            "12.架线区段内障碍物、跨越物、牵张场布置、转向滑车布置、转角及上扬塔位等关键点安全措施不到位。",
            "13.索道运输时装货超载、运送人员。",
            "14.在构架根部锲铁（木）及临时拉线未固定好之前，登杆作业；二次浇灌混凝土未达到规定强度前拆除临时拉线；有限空间作业未采取检测有害气体、通风等防护措施。作业入口处无专人监护,在有限空间内使用燃油动力机械设备。",
            "15.重大Ⅰ、Ⅱ级安全隐患。"],

            ["1.经常发现使用材料U形环代替起重卸扣；经常发现使用缺少安全装置的施工机械设备（如风动机械传动皮带的钢网罩子、切割机的防尘罩、手扳葫芦防脱安全装置）。",
            "2.施工用电不规范：私拉乱扯、随意接线。",
            "3.现场在用主要受力工器具、机械低于施工方案要求且不满足施工要求。",
            "4.高处作业时，施工材料、工器具等放在临空面或孔洞附近，未采取防坠落措施。",
            "5.混凝土强度未达到规范要求时，拆除模板支撑架。",
            "6.铁塔组立时，塔腿安装后未及时安装临时接地，地脚螺栓未安装两帽一垫、未按规定打毛。",
            "7.紧线过程人员站在悬空导线、地线的垂直下方。跨越将离地面的导线或地线；人员站在线圈内或线弯的内角侧。",
            "8.临时用电未按照“三级配电，两级漏保”原则配置，不满足“一机一闸一保护”要求。",
            "9.在带电体周围进行距离测量时，使用带有金属丝的测绳或皮尺。",
            "10.变电站工程主接地网不符合设计及规范要求。",
            "11.垂直交叉作业时，未按要求落实防护措施，存在较大安全隐患。",
            "12.高支模满堂脚手架未按规范及方案设置水平剪刀撑和竖向剪刀撑。",
            "13.恶劣天气时，未按规定及时停止露天高处作业。",
            "14.试验设备通电过程中，试验和监护人员中途离开；试验结束后未及时将试验电源断开；试验后被试设备未充分放电。"]
        ],
        [
            ["1.现场未落实实名制要求，未应用移动应用（含各省公司自建系统）。",
                "2.关键人员未在关键人员库中的、作业人员未在非关键人员库中的（含各省公司自建系统人员库）。"],

            ["1.使用自建系统未与总部基建管控平台实现数据贯通。",
                "2.现场人员信息与人员库中不一致。",
                "3.现场作业人员未在当天站班会记录中签名。"]
        ],
        [
            ["其他"]
        ]
    ];

    function change1(){
        var Eritem = document.getElementById("ritem");
        //console.log("Eritem.value:" + Eritem.value);
        var tag = ritem.indexOf(Eritem.value);// 拿到内容对应的下标
        //console.log("tag:" + tag);
        $("#rnumber").val(num[tag]);
        //console.log("rnumber:" + $("#rnumber").val());
        var Erseverity=document.getElementById("rseverity");
        Erseverity.length = rseverity[tag].length;
        for(var i = 0; i < rseverity[tag].length; i++){
            Erseverity.options[i].text = rseverity[tag][i];
            Erseverity.options[i].value = rseverity[tag][i];
        }
    }
    function change2(){
        var Eritem = document.getElementById("ritem");
        var tag1 = ritem.indexOf(Eritem.value);
        var Erseverity = document.getElementById("rseverity");
        var tag2 = rseverity[tag1].indexOf(Erseverity.value);
        //console.log("tag1:" + tag1 +"  tag2:" + tag2);
        var Erspecific = document.getElementById("rspecific");
        Erspecific.length = rspecific[tag1][tag2].length;
        for(var i = 0; i < rspecific[tag1][tag2].length; i++){
            Erspecific.options[i].text = rspecific[tag1][tag2][i];
            Erspecific.options[i].value = rspecific[tag1][tag2][i];
        }
    }
</script>

</body>
</html>